.item .image {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-size: cover;
}

.item {
  background: #303846;
  padding: 10px;
  margin-bottom: 20px;
}

.item a {
  color: white;
}

.item a:hover {
  text-decoration: none;
}
