.card {
  background: var(--ifm-navbar-background-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2.5rem;

  a:hover {
    text-decoration: none;
  }

  h1,
  h2 {
    font-size: 2.5rem;
  }

  @media only screen and (max-width: 481px) {
    padding: 2rem 1.5rem;

    h1,
    h2 {
      font-size: 2rem;
    }
  }
}
