.wrapper {
  background: #465162 url('/images/tile.png') 0 0 repeat;
  background-attachment: fixed;
  color: #fff;
  padding: 80px 0px 80px 0px;

  .title {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    word-wrap: normal;
    text-align: center;

    @media screen and (min-width: 481px) {
      font-size: 54px;
      line-height: 64px;
    }
  }

  h5 {
    opacity: 0.8;
    margin: 21px 0 29px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;

    @media screen and (min-width: 481px) {
      font-size: 21px;
      line-height: 30px;
    }
  }

  .sponsorsContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .tierTitle h2 {
    margin: 0;
    padding-left: 18px;
  }

  .arrow {
    width: 18px;
    height: 18px;
    color: #919bac;
    opacity: 0.7;
    transition: all 0.3s ease;
    transform: translateX(0);
    flex-shrink: 0;
    margin-top: 2px;
  }

  .tierSection {
    // margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tierTitle {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #919bac;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    width: max-content;
    align-self: center;
    margin-bottom: 0;
    margin-top: 3rem;

    &:hover {
      color: #fff;
      .arrow {
        color: #fff;
      }
    }
  }

  .sponsorGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 20px 0px;

    @media screen and (max-width: 481px) {
      gap: 1rem;
    }
  }

  .sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-5px);
    }

    .sponsorImage {
      border-radius: 15px;
    }

    // Platinum tier
    &.platinum-sponsor {
      .sponsorImage {
        max-height: 180px;
      }
    }

    // Gold tier
    &.gold-sponsor {
      .sponsorImage {
        max-height: 150px;
      }
    }

    // Silver tier
    &.silver-sponsor {
      .sponsorImage {
        max-height: 90px;
      }
    }

    // Bronze tier
    &.bronze-sponsor {
      .sponsorImage {
        max-height: 75px;
        max-width: 140px;
      }
    }
  }
}

html[data-theme='dark'] {
  .wrapper {
    background: #1a1a1a url('/images/tile.png') 0 0 repeat;
  }
}
