.section {
  padding: 0;
  padding-top: 48px;
  padding-bottom: 64px;
  max-width: 987px;
  margin: auto;
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

.topTiers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: flex-end;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .topTiers {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .topTiers {
    max-width: 80%;
    margin: auto;
  }
  .bottomTiers {
    max-width: 80%;
    margin: auto;
  }
}

.bottomTiers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 4rem auto 0;
}

.bottomTiers .tierCard {
  padding: 1rem;
}

.bottomTiers h3,
ul {
  margin-bottom: 0;
}
.bottomTiers p {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .bottomTiers {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tierCard {
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.02));
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.tierGold {
  background-color: #1a1a1a;
  border-top: 4px solid #ffd700 !important;
}

.tierGoldPlus {
  background-color: #1a1a1a;
  border-top: 4px solid #ff4d4d !important;
}

.tierPlatinum {
  border: 2px solid var(--ifm-color-primary);
  box-shadow: 0 0 25px rgba(233, 30, 99, 0.302);
  background-color: #1a1a1a;
  position: relative;
  transform: scale(1);
  z-index: 10;
}

@media (min-width: 1024px) {
  .tierPlatinum {
    transform: scale(1.1);
  }
}

.tierBronze {
  background-color: #1a1a1a;
  border-top: 4px solid #cd7f32 !important;
}

.tierSilver {
  background-color: #1a1a1a;
  border-top: 4px solid #c0c0c0 !important;
}

.tierHeader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.675rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--ifm-color-primary);
  color: white;
}

.tierTitle {
  font-weight: bold;
  line-height: 2rem;
}

.tierTitleGold {
  font-size: 1.75rem;
  color: #ffd700;
}

.tierTitleGoldPlus {
  font-size: 1.75rem;
  color: #ff4d4d;
}

.tierTitlePlatinum {
  font-size: 2.2rem;
  color: white;
}

.tierTitleBronze {
  font-size: 1.5rem;
  color: #fdba74;
}

.tierTitleSilver {
  font-size: 1.5rem;
  color: #d1d5db;
}

.price {
  font-weight: 800;
  margin: 1rem 0;
}

.priceGold,
.priceGoldPlus,
.priceBronze,
.priceSilver {
  font-size: 2.25rem;
}

.pricePlatinum {
  font-size: 3rem;
}

.price span {
  font-size: 1.125rem;
  font-weight: 500;
  color: #9ca3af;
}

.pricePlatinum span {
  font-size: 1.25rem;
  color: #d1d5db;
}

.benefits {
  text-align: left;
  padding-left: 0;
}

.benefitsGold,
.benefitsGoldPlus,
.benefitsBronze,
.benefitsSilver {
  color: #d1d5db;
}

.benefitsPlatinum {
  color: #e5e7eb;
}

.benefits li {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  line-height: 1.25;
}

.benefits li:last-child {
  padding-bottom: 0;
}

.benefits li svg {
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  min-height: 1.25rem;
  margin-right: 0.5rem;
}

.iconGreen {
  color: #4ade80;
}

.iconGreenLight {
  color: #4ade80;
}

.button {
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  border: unset;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.buttonGold {
  background-color: transparent;
  border: 1px solid #ffd700;
}

.buttonGold:hover {
  background-color: #ffd700;
  color: black;
}

.buttonPlatinum {
  font-weight: 700;
  font-size: 1.125rem;
  background-color: var(--ifm-color-primary);
  color: white;
}

.buttonPlatinum:hover {
  background-color: var(--ifm-color-primary-dark);
}

.button:hover {
  transform: scale(1.02);
}

.buttonGoldPlus {
  background-color: transparent;
  border: 1px solid #ff4d4d;
  color: white;
}
.buttonGoldPlus:hover {
  background-color: #ff4d4d;
  color: white;
}

.buttonBronze {
  background-color: transparent;
  border: 1px solid #f97316;
}

.buttonBronze:hover {
  background-color: #ea580c;
  color: white;
}

.buttonSilver {
  background-color: transparent;
  border: 1px solid #d1d5db;
}

.buttonSilver:hover {
  background-color: #d1d5db;
  color: black;
}

html[data-theme='light'] {
  .tierCard {
    background-color: white;
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    border: 1px solid #e5e7eb;
  }
  .tierPlatinum {
    border: 2px solid var(--ifm-color-primary);
    box-shadow: 0 0 25px rgba(233, 30, 99, 0.3);
  }
  .tierTitlePlatinum {
    color: var(--ifm-color-primary);
  }
  .tierTitle {
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  .benefits {
    color: #475569;
  }
  .price span {
    color: #64748b;
  }
  .buttonGold {
    background-color: #ffd700;
    border: unset;
  }

  .buttonGold:hover {
    background-color: #ffd700;
    color: black;
  }

  .buttonGoldPlus {
    background-color: #ff4d4d;
    border: unset;
  }
  .buttonGoldPlus:hover {
    background-color: #ff4d4d;
    color: white;
  }

  .buttonBronze {
    background-color: #f97316;
    border: unset;
  }

  .buttonBronze:hover {
    background-color: #ea580c;
    color: white;
  }

  .buttonSilver {
    background-color: #d1d5db;
    border: unset;
  }

  .buttonSilver:hover {
    background-color: #d1d5db;
    color: black;
  }
}
