.wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: calc(100vh - var(--ifm-navbar-height));
    width: 100vw;

    .nav {
        display: flex;
        justify-content: space-between;
        margin: 16px 18px;

        .select {
            margin: 0 8px;
        }
    }
}

// Hack approach to fill the view with the page content
:global(.container) {
    // Remove docs wrapping container padding and margin
    padding: 0 !important;
    margin: 0 !important;

    // Hide docs pagination nav
    nav {
        display: none;
    }
}
