.pageWrapper {
    flex: 1 0 100%;
    display: flex;
}

.playgroundWrapper {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    margin: 16px 18px;
}

.select {
    margin: 0 8px;
}
