.header {
    color: #333;

    h1 {
        font-size: 54px;
        line-height: 64px;
    }

    h4 {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        max-width: 600px;
        margin: 2rem auto 3rem;
    }
}

html[data-theme='dark'] {
    .header {
        color: #fff;
    }
}