.separator {
  margin: 0 0.75rem;
  height: 2rem;
  width: 0.05rem;
  background: var(--ifm-font-color-base);
  opacity: 0.25;
}

@media (max-width: 1568px) {
  .separator {
    display: none;
  }
}
@media (max-width: 1486px) {
  .short-search input {
    max-width: 150px;
  }

  .colorModeToggle {
    display: none;
  }
}

@media (max-width: 1085px) {
  .short-search input {
    max-width: 100px;
  }

  .short-search {
    padding: 0;
  }
}

@media (max-width: 996px) {
  .short-search input {
    max-width: 100%;
  }
}
