@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap');
@import '@pixi/webdoc-docusaurus-template/docusaurus/custom';
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-font-family-base: 'Roboto';
    --ifm-color-primary: #e91e63;
    --ifm-color-primary-dark: #d81557;
    --ifm-color-primary-darker: #cc1452;
    --ifm-color-primary-darkest: #a81044;
    --ifm-color-primary-light: #eb3674;
    --ifm-color-primary-lighter: #ed427c;
    --ifm-color-primary-lightest: #f06695;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

    --ifm-breadcrumb-color-active: var(--ifm-text-color);
    --ifm-breadcrumb-spacing: 2px;
}

html {
    overflow-x: hidden;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] { */
/*   --ifm-color-primary: #25c2a0; */
/*   --ifm-color-primary-dark: #21af90; */
/*   --ifm-color-primary-darker: #1fa588; */
/*   --ifm-color-primary-darkest: #1a8870; */
/*   --ifm-color-primary-light: #29d5b0; */
/*   --ifm-color-primary-lighter: #32d8b4; */
/*   --ifm-color-primary-lightest: #4fddbf; */
/*   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3); */
/* } */

.navbar__inner {
    margin: 0 auto;
    max-width: 90%;
}

.navbar__brand {
    margin-right: 1rem;
}

.header-twitter-link::before {
    width: 26px;
    height: 24px;
    background: url('/images/social/twitter.svg') no-repeat center;
}

.header-discord-link::before {
    width: 30px;
    height: 24px;
    background: url('/images/social/discord.svg') no-repeat center;
}

.header-github-link::before {
    width: 24px;
    height: 24px;
    background: url('/images/social/github.svg') no-repeat center;
}

.header-link {
    &::before {
        content: '';
        display: flex;
        background-size: contain;
    }

    &:hover {
        opacity: 0.6;
    }
}

.nav-section-heading {
    font-size: small;
    color: var(--ifm-color-primary-lightest);
    margin-top: 0.2rem;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
}

.underline::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #919bac;
    margin: 13px auto 0;
}

.buttonRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.footer__bottom {
    color: #919bac;

    .footer__copyright {
        line-height: 35px;
    }

    a {
        color: #fff;
    }
}

html[data-theme='dark'] {
    .header-discord-link::before,
    .header-github-link::before,
    .header-twitter-link::before {
        filter: invert(100%);
    }

    .header-link::before {
        background-size: contain;
    }

    .footer {
        background: #1a1a1a;
    }

    .underline::after {
        background: var(--ifm-color-primary);
    }
}

@media only screen and (max-width: 1020px) {
    .navbar__brand {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1090px) {
    span.DocSearch-Button-Placeholder {
        display: none;
    }
}

@media only screen and (max-width: 1180px) {
    span.DocSearch-Button-Keys {
        display: none;
    }
}

@media only screen and (max-width: 1280px) {
    .navbar__inner {
        max-width: 100%;
    }
}

// sidebars
.theme-doc-sidebar-item-category-level-1 {
    margin-top: 0.5rem !important;
}

// breadcrumbs
.theme-doc-breadcrumbs {
    transition: opacity 250ms;
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }
}

.animate-in .col {
    transform: translateX(100vw);
    animation: slide-in 0.4s cubic-bezier(0.165, 0.84, 0.44, 1.02) forwards;
}
.animate-in .col:nth-child(1) {
    animation-delay: 0s;
}
.animate-in .col:nth-child(2) {
    animation-delay: 0.3s;
}
.animate-in .col:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes slide-in {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateY(0);
    }
}
