@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap');
/**
* Any CSS included here will be global. The classic template
* bundles Infima by default. Infima is a CSS framework designed to
* work well for content-centric websites.
*/

.markdown p code {
  font-weight: bold;
  color: var(--ifm-color-primary-lightest);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.markdown h4 code {
  font-weight: bold;
  color: var(--ifm-color-primary-lightest);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.deprecated-tag {
  background-color: #e91e63;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  font-size: 0.7em;
  margin-left: 5px;
  padding: 2px 5px;
}

.package-name {
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid #e91e63;
  padding: 5px 20px;
  margin-bottom: 20px;
  width: fit-content;
}
.package-name p {
  margin-bottom: 0px;
}

.markdown article p {
  margin-bottom: 10px;
}

:root {
  --ifm-color-primary: #e91e63;
  --ifm-color-primary-dark: #d81557;
  --ifm-color-primary-darker: #cc1452;
  --ifm-color-primary-darkest: #a81044;
  --ifm-color-primary-light: #eb3674;
  --ifm-color-primary-lighter: #ed427c;
  --ifm-color-primary-lightest: #f06695;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Roboto';
  --ifm-color-primary: #e91e63;
  --ifm-color-primary-dark: #d81557;
  --ifm-color-primary-darker: #cc1452;
  --ifm-color-primary-darkest: #a81044;
  --ifm-color-primary-light: #eb3674;
  --ifm-color-primary-lighter: #ed427c;
  --ifm-color-primary-lightest: #f06695;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-breadcrumb-color-active: var(--ifm-text-color);
  --ifm-breadcrumb-spacing: 2px;

  --doc-sidebar-width: 275px !important;

  --sidebar-category-color: #000000;
}

html {
  overflow-x: hidden;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] { */
/*   --ifm-color-primary: #25c2a0; */
/*   --ifm-color-primary-dark: #21af90; */
/*   --ifm-color-primary-darker: #1fa588; */
/*   --ifm-color-primary-darkest: #1a8870; */
/*   --ifm-color-primary-light: #29d5b0; */
/*   --ifm-color-primary-lighter: #32d8b4; */
/*   --ifm-color-primary-lightest: #4fddbf; */
/*   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3); */
/* } */

.navbar__inner {
  margin: 0 auto;
  max-width: 90%;
}

.navbar__brand {
  margin-right: 1rem;
}

.header-twitter-link::before {
  width: 26px;
  height: 24px;
  background: url('/images/social/twitter.svg') no-repeat center;
}

.header-discord-link::before {
  width: 30px;
  height: 24px;
  background: url('/images/social/discord.svg') no-repeat center;
}

.header-github-link::before {
  width: 24px;
  height: 24px;
  background: url('/images/social/github.svg') no-repeat center;
}

.header-link {
  &::before {
    content: '';
    display: flex;
    background-size: contain;
  }

  &:hover {
    opacity: 0.6;
  }
}

.nav-section-heading {
  font-size: small;
  color: var(--ifm-color-primary-lightest);
  margin-top: 0.2rem;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

.underline::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #919bac;
  margin: 13px auto 0;
}

.buttonRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.footer__bottom {
  color: #919bac;

  .footer__copyright {
    line-height: 35px;
  }

  a {
    color: #fff;
  }
}

.badge {
  color: #ffffff;
  --ifm-badge-background-color: #1099bc;
  --ifm-badge-border-color: #1099bc;
}

html[data-theme='dark'] {
  .header-discord-link::before,
  .header-github-link::before,
  .header-twitter-link::before {
    filter: invert(100%);
  }

  .header-link::before {
    background-size: contain;
  }

  .footer {
    background: #1a1a1a;
  }

  .underline::after {
    background: var(--ifm-color-primary);
  }
}

@media (max-width: 1120px) {
  a.navbar__item.navbar__link > svg {
    display: none !important;
  }

  .navbar__search div:last-child {
    display: none !important;
  }

  .navbar__search {
    margin: 0 !important;
  }
}
@media (max-width: 996px) {
  a.navbar__item.navbar__link > svg {
    display: inline-block !important; // Reset to default display
  }

  .navbar__search div:last-child {
    display: flex !important; // Reset to default display
  }
}

@media only screen and (max-width: 1020px) {
  .navbar__brand {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1090px) {
  span.DocSearch-Button-Placeholder {
    display: none;
  }
}

@media only screen and (max-width: 1180px) {
  span.DocSearch-Button-Keys {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .navbar__inner {
    max-width: 100%;
  }
}

// sidebars
.theme-doc-sidebar-item-category-level-1 {
  margin-top: 0.5rem !important;
}

// breadcrumbs
.theme-doc-breadcrumbs {
  transition: opacity 250ms;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.container {
  &.example {
    max-width: 100%;
  }

  &.coding {
    // Remove docs wrapping container padding and margin
    padding: 0 !important;
    margin: 0 !important;

    // Hide docs pagination nav
    nav {
      display: none;
    }

    h1 {
      padding-left: 16px;
    }

    .badge {
      margin-top: 16px;
      margin-left: 16px;
    }
  }
}

.justifyContentCenter {
  justify-content: center !important;
}

.tileBackground {
  background: url('/images/tile-alpha.png') 0 0 repeat !important;
}

.offering-anim {
  animation-name: offering-in;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.device-anim {
  animation-name: device-in;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.short-up-anim {
  animation-name: short-up;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
  animation-duration: 0s;
  animation-delay: 0s;
}
.feature-l-in-anim {
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: feature-l-in;
  animation-delay: 0s;
}
.feature-r-in-anim {
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: feature-r-in;
  animation-delay: 0s;
}

@keyframes short-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes offering-in {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes feature-r-in {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes feature-l-in {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes device-in {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes device-in {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-theme='light'] {
  --sidebar-category-color: #000000;
  .tileBackground {
    background: url('/images/tile-light.png') 0 0 repeat !important;
  }
}

[data-theme='dark'] {
  --sidebar-category-color: #ffffff;
  .tileBackground {
    background: url('/images/tile-alpha.png') 0 0 repeat !important;
  }
}
